<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>charmander</display-name>
	<!-- servlets mapping -->
	<servlet>
		<servlet-name>CacheController</servlet-name>
		<servlet-class>com.bananity.controllers.CacheController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CacheController</servlet-name>
		<url-pattern>/cache</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>com.bananity.controllers.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.bananity.controllers.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<!-- info pages -->
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/server_info/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/server_info/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/WEB-INF/server_info/402.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/server_info/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/server_info/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/server_info/405.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/WEB-INF/server_info/406.jsp</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/WEB-INF/server_info/407.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/WEB-INF/server_info/408.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/WEB-INF/server_info/409.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/WEB-INF/server_info/410.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/WEB-INF/server_info/411.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/WEB-INF/server_info/412.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/WEB-INF/server_info/413.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/WEB-INF/server_info/414.jsp</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/WEB-INF/server_info/415.jsp</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/WEB-INF/server_info/416.jsp</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/WEB-INF/server_info/417.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/server_info/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/server_info/501.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/WEB-INF/server_info/502.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/server_info/503.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/WEB-INF/server_info/504.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/server_info/505.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/server_info/500.jsp</location>
	</error-page>
</web-app>
